<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>milize.co.jp</title>
Any Value or Data submit by Customer
Please input below
<br>
<br>
<br>
</head>
<body>
    <form action="/search" method="get">

       <div class="form-group"> 
          <input type="text" class="form-control" name="q" 
          placeholder="Input Algorithm Type" ng-model="q" value="Milize Create"> 
       </div> 

        

       <div class="form-group"> 
            <input type="text" class="form-control" name="ainame" 
          placeholder="Input AI Direction" ng-model="ainame" value="Stock Predict"> 
       </div> 
      
          <div class="form-group"> 
            <input type="text" class="form-control" name="passvalue" 
          placeholder="Input Any Value" ng-model="passvalue"> 
          </div> 
<br>
<br>
<br>
<input type="submit" value="Submit Request">
    </form>
</body>
</html>